@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    color: #3b3b3b;
    overflow: hidden;
}

.back {
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container {
    margin-top: 90px;
    background-color: #fff;
    border-radius: 6px;
    width: fit-content;
}

h1 {
    text-align: center;
}

.form-control {
    border: 1px solid gray;
}

.form-control:focus {
    box-shadow: 1px 1px 2px gray;
    border: 1px solid rgb(44, 44, 44);
}

.size {
    width: 150px;
}

.btnBlue {
    background-color: blue;
    color: #fff;
}

.btnBlue:hover {
    background-color: rgb(27, 27, 247);
    color: #fff;
}

#link {
    text-decoration: none;
    color: blue;
}

#link:hover {
    text-decoration: blue solid underline;
}

#link2 {
    text-decoration: none;
    color: rgb(2, 66, 10);
}

#link2:hover {
    text-decoration: rgb(2, 66, 10) solid underline;
}

.btnGreen {
    background-color: rgb(2, 66, 10);
    color: #fff;
}

.btnGreen:hover {
    background-color: rgb(2, 83, 12);
    color: #fff;
}

.forgetPassward {
    color: rgb(2, 66, 10);
}

.forgetPassward:hover {
    cursor: pointer;
    text-decoration: rgb(2, 66, 10) solid underline;
}
table th, table td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px;
}
.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signOut_btn{
    background-color: rgb(2, 66, 10);
    color: #fff;
}

.signOut_btn:hover{
    background-color: rgb(0, 87, 12);
    color: #fff;
}